# Medical Data Visualization

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv('medical_examination.csv')

df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

### Criar uma coluna chamada "overweight" para identificar quem tem o IMC maior do que 25

In [43]:
df['bmi'] = (df['weight']/(df['height']/100)**2)

df.loc[df['bmi'] > 25, 'bmi'] = 1

df.loc[df['bmi'] < 25, 'bmi'] = 0

df['overweight'] = df['bmi']

df.drop('bmi', axis=1, inplace=True)

df.head()

   id    age  gender  height  weight  ...  smoke  alco  active  cardio  overweight
0   0  18393       2     168    62.0  ...      0     0       1       0         0.0
1   1  20228       1     156    85.0  ...      0     0       1       1         0.0
2   2  18857       1     165    64.0  ...      0     0       0       1         0.0
3   3  17623       2     169    82.0  ...      0     0       1       1         0.0
4   4  17474       1     156    56.0  ...      0     0       0       0         0.0

[5 rows x 14 columns]

### Normalizando os dados. Para

In [44]:
df.loc[df['cholesterol'] == 1, 'cholesterol'] = 0
df.loc[df['gluc'] == 1, 'gluc'] = 0

df.loc[df['cholesterol'] > 1, 'cholesterol'] = 1
df.loc[df['gluc'] > 1, 'gluc'] = 1

df.head()

   id    age  gender  height  weight  ...  smoke  alco  active  cardio  overweight
0   0  18393       2     168    62.0  ...      0     0       1       0         0.0
1   1  20228       1     156    85.0  ...      0     0       1       1         0.0
2   2  18857       1     165    64.0  ...      0     0       0       1         0.0
3   3  17623       2     169    82.0  ...      0     0       1       1         0.0
4   4  17474       1     156    56.0  ...      0     0       0       0         0.0

[5 rows x 14 columns]